body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #08080F;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  gap: 20px;
  padding: 32px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .game-viewer {
    transform: scale(0.5);
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .game-viewer {
    transform: scale(0.3);
    padding: 4px;
  }
}